<p> Hola, </p>
<p> Te notificamos que el estado de tu orden ha cambiado a <strong><%= @order.state %></strong>. 
    Anteriormente, estaba en <%= @previous_state %>. 
</p>

<p> Saludos, </p>
<p> Equipo 5 </p>