<nav class="navbar navbar-expand-lg" style="background-color: #000; padding: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("cutestocknb.png", alt: "navbarlogo", size: "170x80") %>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" >
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-link text-white nav-bar-link px-4 py-3" href="/orders#index">Orders</a>
          <a class="nav-link text-white nav-bar-link px-4 py-3" href="/products#index">Products</a>
          <a class="nav-link text-white nav-bar-link px-4 py-3" href="/supplies#index">Supplies</a>
          <a class="nav-link text-white nav-bar-link px-4 py-3" href="/fees#index">Stock Alerts</a>
        <% else %>
          <a class="nav-link text-white" href="#">No Logeado In!</a>
        <% end %>
      </div>
      
      <div class="ms-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <!-- Search Form with Dropdown Results -->
          <div class="dropdown">
            <%= form_with url: search_path, method: :get, local: false, class: "d-inline" do |form| %>
              <%= form.text_field :query, placeholder: "Search Orders, Products, Supplies...", class: "form-control dropdown-toggle", id: "searchInput", data: { bs_toggle: "dropdown" } %>
            <% end %>
            <ul class="dropdown-menu w-100" id="searchResults"></ul>
          </div>
        <% end %>

        <!-- User Dropdown -->
        <div class="dropdown ms-3">
          <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <% if user_signed_in? %>
              <li>
                <div class='d-inline-block'>
                  <%= button_to 'Log Out', destroy_user_session_path(), method: 'delete', class: 'dropdown-item bi bi-box-arrow-right' %>
                </div>
              </li>
            <% else %>
              <li>
                <a class="dropdown-item" href="/users/sign_in">
                  <i class="bi bi-box-arrow-right"></i> Log In
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/users/sign_up">
                  <i class="bi bi-box-arrow-right"></i> Sign Up
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Bootstrap Bundle with Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
